{% extends 'base.html' %}
{% block content %}
    <div class="container p-5 w-75">
        <h2 class="font-weight-bold my-4">Сообщение отправлено</h2>
        <p>Пользователю с указанным номером отправлена ссылка в Telegram для активации учётной записи.
            <br>Если ссылка не отправляется, убедитесь, что телефонный номер указан корректно и бот
            запущен на устройстве пользователя.
        </p>
        <a href="{% url 'merchantapp:employees_list' %}">Вернуться к списку</a>
    </div>
{% endblock %}