SECRET_KEY=django-insecure

POSTGRES_DB=db
POSTGRES_USER=user
POSTGRES_PASSWORD=password
DB_HOST=dbhost
DB_PORT=1234

DEBUG=1

ALLOWED_HOSTS="localhost"
APP_ROOT_URLCONF=app.urls

CABINET_SITE="http://site"

TG_TOKEN=token
TG_SITE="http://site"

EMAIL_HOST=smtp.server
EMAIL_PORT=465
EMAIL_HOST_USER=user@server
EMAIL_HOST_PASSWORD=password
EMAIL_USE_TLS=0
EMAIL_USE_SSL=1