{% extends 'base.html' %}
{% block title %}Заказы пользователя — Allcard.me{% endblock %}
{% block content %}
    <h1>Заказы пользователя</h1>
    <a class="btn btn-outline-secondary" href="{{request.META.HTTP_REFERER}}">Назад</a>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col" style="width: 5%">#</th>
            <th scope="col" style="width: 5%">Кол-во</th>
            <th scope="col" style="width: 5%">Цена</th>
            <th scope="col" style="width: 10%">Программа</th>
            <th scope="col" style="width: 15%">Описание</th>
            <th scope="col" style="width: 10%">Дата</th>
        </tr>
        </thead>
        <tbody>
        {% for order in order_list.all %}
            <tr>
                <th scope="row">{{ order.id }}</th>
                <td>{{ order.amount }}</td>
                <td>{{ order.price }}</td>
                <td>{{ order.program.title }}</td>
                <td>{{ order.program.reward }}</td>
                <td>{{ order.time_created }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}