{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <h1>{% trans "UserOrders" %}</h1>
    <a class="btn btn-outline-secondary" href="{{request.META.HTTP_REFERER}}">{% trans "Back" %}</a>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col" style="width: 5%">#</th>
            <th scope="col" style="width: 5%">{% trans "Am-ount" %}</th>
            <th scope="col" style="width: 5%">{% trans "Price" %}</th>
            <th scope="col" style="width: 10%">{% trans "Program" %}</th>
            <th scope="col" style="width: 15%">{% trans "Description" %}</th>
            <th scope="col" style="width: 10%">{% trans "Date" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for order in order_list.all %}
            <tr>
                <th scope="row">{{ order.id }}</th>
                <td>{{ order.amount }}</td>
                <td>{{ order.price }}</td>
                <td>{{ order.program.title }}</td>
                <td>{{ order.program.reward }}</td>
                <td>{{ order.time_created }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}