{% extends 'base.html' %}
{% block title %}Работники заведения — Allcard.me{% endblock %}
{% block content %}
    <h1>Работники заведения</h1>
    <a href="{% url 'merchantapp:employee_add' %}">Добавить сотрудника</a>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col" style="width: 10%">Номер телефона</th>
            <th scope="col" style="width: 10%">Имя</th>
            <th scope="col" style="width: 10%">Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for employee in employees_list.all %}
            <tr>
                <th scope="row">{{ employee.phone }}</th>
                <td>{{ employee.first_name }} {{ employee.last_name }}</td>
                <td><a href="{% url 'merchantapp:employee_remove' employee.pk %}">Удалить</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}