{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <div class="w-50">
        <h2 class="font-weight-bold my-4">{% blocktrans %}Add employee{% endblocktrans %}</h2>
        <p>{% blocktrans %}Enter the phone number of the user you want to add to the employee list.{% endblocktrans %}</p>
        <form method="POST">
            {% csrf_token %}
            {% include 'partial/form.html' with button_text='Отправить' %}
            {{ error }}
        </form>
    </div>
{% endblock %}