{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <h1>{% blocktrans %}Establishment employees{% endblocktrans %}</h1>
    <a href="{% url 'merchantapp:employee_add' %}">{% blocktrans %}Add employee{% endblocktrans %}</a>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col" style="width: 10%">{% trans "NumberPhone" %}</th>
            <th scope="col" style="width: 10%">{% trans "Name" %}</th>
            <th scope="col" style="width: 10%">{% trans "Actions" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for employee in employees_list.all %}
            <tr>
                <th scope="row">{{ employee.phone }}</th>
                <td>{{ employee.first_name }} {{ employee.last_name }}</td>
                <td><a href="{% url 'merchantapp:employee_remove' employee.pk %}">Удалить</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}