{% extends 'base.html' %}
{% load i18n %}
{% load merchant_tags %}
{% block content %}
    <form method="get" action={% url 'merchantapp:user_search' %}>
        <div class="input-group">
            <input class="form-control border" type="search" name="id" placeholder="Search">
            <button class="btn btn-secondary" type="submit">{% trans "Search" %}</button>
        </div>
    </form>
    {% if customuser_list %}
        {% for user in customuser_list.all %}
            <div class="card mt-3" style="width: 30rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ user }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ user.first_name }} {{ user.last_name }}</h6>
                    <p class="card-text">{% blocktrans %}Available awards:{% endblocktrans %} {{ user.user_reward.all|redeemable_count }}</p>
                    {% for reward in user.user_reward.all %}
                        {{ reward.get_redeemable }}
                        {% endfor %}
                    <p class="card-text">{% blocktrans %}Completed Orders:{% endblocktrans %} {{ user.order_user.count }}</p>
                    <a class="btn btn-sm btn-secondary me-2 {% if user.user_reward.all|redeemable_count == 0 %}disabled{% endif %}"
                       href="{% url 'merchantapp:redeem_user_reward' user.pk %}">{% blocktrans %}Issue a reward{% endblocktrans %}</a>
                    <a class="btn btn-sm btn-secondary me-2" href="{% url 'merchantapp:order_create' %}?customer={{ user.pk }}">{% trans "Checkout" %}</a>
                    <a class="btn btn-sm btn-secondary" href="{% url 'merchantapp:orders' user.pk %}">{% blocktrans %}Purchase history{% endblocktrans %}</a>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}